
<h1>Editar Noticia</h1>

<%= form_for(@article) do |f| %>

    <% if not @article.nil? and @article.errors.any? %>
        <div id="error_explanation">
          <h2 style="color:red;">
            Para que essa noticia seja salva</h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :Titulo %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :Noticia %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.label :Data %><br>
      <%= f.date_select :date %>
    </p>

    <p>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <%= f.submit :"Salvar Noticia"%>
      </button>
    </p>
    <br />
<% end %>


<%= link_to 'Voltar', articles_path %>