
<ul>
  <li>
    <p>
      <label>Codigo: </label><%= @user.id %>
    </p>
    <p>
      <%= @user.name %>
    </p>
    <p>
      <%= @user.email %>
    </p>
    <p>
      <%= @user.word %>
    </p>
  </li>

</ul>

<%= link_to 'Voltar', users_path %>